<div class="flex align-items-center justify-content-center">
  <div class="flex flex-col gap-6 w-full">
    <form [formGroup]="userForm" (ngSubmit)="handleSubmitAddUser()">
      <div>
        <label for="fullName" class="block font-bold mb-3">Nome Completo</label>
        <input type="text" pInputText id="fullName" formControlName="fullName" required autofocus fluid />
        <small class="text-red-500" *ngIf="!this.userForm.value.fullName">Nome é obrigatório.</small>
      </div>

      <div>
        <label for="email" class="block font-bold mb-3">E-mail</label>
        <input type="text" pInputText id="email" formControlName="email" required autofocus fluid />
        <small class="text-red-500" *ngIf="!this.userForm.value.email">Email é obrigatório.</small>
      </div>

      <div>
        <label for="password" class="block font-bold mb-3">Senha</label>
        <input type="text" pInputText id="password" formControlName="password" required autofocus fluid />
        <small class="text-red-500" *ngIf="!this.userForm.value.password">Senha é obrigatória.</small>
      </div>

      <div>
        <label for="role" class="block font-bold mb-3">Perfil</label>
        <input type="text" pInputText id="role" formControlName="role" required autofocus fluid />
        <small class="text-red-500" *ngIf="!this.userForm.value.role">Perfil é obrigatório.</small>
      </div>
    </form>
  </div>
</div>

<div class="form-footer">
  <p-button label="Salvar" icon="pi pi-check" />
  <p-button label="Cancelar" icon="pi pi-times" text />
</div>
